<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0a132540-ee91-4543-9f80-4163b26253a9/resourceGroups/CS436/providers/Microsoft.Web/sites/InventoryStstem</ResourceId>
    <ResourceGroup>CS436</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://inventoryststem.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://inventoryststem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$InventoryStstem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>